/*
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap');

/*
https://forum.vuejs.org/t/how-to-add-new-fonts-to-vuepress-via-css-font-face/60408/10
*/

/*
@font-face {
    font-family: 'Rubik';
    src: url('/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
*/

body {
    font-family: Montserrat;
}

